:root{
    --sidebar-width: 31ch;
}
/* SIDEBAR */

.wide-sidebar{
    background-color: var(--secondary-bg);
    position: fixed;
    float: left;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: var(--sidebar-width);
    transform: translateY(-1ch);
    border-top-right-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    box-shadow: 3px 3px 6px rgba(92, 92, 92, 0.414);

}
.sidebar > h1{
    color: var(--font-color-dark-default);
}
.sidebar-list{
    background-color: var(--secondary-bg-light);
    border-radius: var(--border-radius-s);
    padding: 2px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    width: 100%;
    background-color: var(--secondary-bg);
    color: black;
    border: 2px solid gray;
    border-radius: var(--border-radius-s);
    text-align: left;
} 

.sidebar-list img{
    width: 3ch;
    border-radius: var(--border-radius-s);
}
.sidebar-list *{
    color: black;
}

.sidebar-list > li > a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1ch;
}

main{
    overflow: auto;
    margin: 1ch 2ch 0 calc(var(--sidebar-width) + 2ch);

}

/* 
#####################################################
############  PERSONAL DASHBOARD TAB ################
#####################################################
*/





/*
#####################################################
#############  LEAVE APPLICATION TAB ################
#####################################################
*/


/* 
#####################################################
#############  REPORT MANAGEMENT TAB ################
#####################################################
*/
#leave-application > .head{
    display: flex;
    justify-content: center;
}
.volunteer-search > form{
    display: flex;
    gap: 1ch;
    border-radius: var(--border-radius-s);
    background-color: var(--secondary-bg);
    padding: 1ch;
}
.volunteer-search > form input{
    border-radius: var(--border-radius-s);
    background-color: var(--secondary-bg-dark);
    padding: 1ch;
    color: black;
    border: var(--border-style-1);
}
.volunteer-search > form select, form .form-select, form .form-select:focus {
    color: black;
    background-color: var(--secondary-bg-dark);
    border: var(--border-style-1);
    box-shadow: none;
    border-radius: var(--border-radius-s);

}
.application-list .table{
    margin: 2ch 0;
    border-collapse: separate;
    background-color: var(--secondary-bg);
    border: var(--border-style-1);
    padding: 2ch;
    border-radius: var(--border-radius-s);
}

.leave-application-modal >*>*{
    color: black;
    background-color: var(--secondary-bg);
}