/* SIDEBAR */

aside{
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 30ch;
    min-width: 15ch;
}

.wide-sidebar{
    flex-grow: 1;

}

.sidebar-list img{
    width: 3ch;
    border-radius: var(--border-radius-s);
}

.sidebar-list > li > a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1ch;
}


/* #personal-dashboard-pill::before{
    content: url('images/user-images/admin-profile-picture.jpg');
} */