:root{
    --sidebar-width: 31ch;
}

.btn-primary:hover, .btn-primary{
    border-radius: var(--border-radius-s);
}

.modal *{
    border-radius: var(--border-radius-s);
}
.modal-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form-control{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1ch;
}
.form-control >*{
    flex-grow: 1;
    
}
textarea, input, select, .checkbox-group, .radio-group, .btn-border-shadow{
    border: var(--border-style-2);
    padding: 1ch;
    box-shadow: var(--shadows-shortest);
}

textarea, input, select, .checkbox-group, .radio-group{
    background-color: var(--secondary-bg-light);
}
label{
    border: var(--border-style-3);
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
}

.checkbox-group, .radio-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1ch;
}

.head{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.head form{
    display: flex;
    gap: 1ch;
    border-radius: var(--border-radius-s);
    background-color: var(--secondary-bg);
    padding: 1ch;
}
.head form input{
    border-radius: var(--border-radius-s);
    background-color: var(--secondary-bg-dark);
    padding: 1ch;
    color: black;
}


.head form select option{
    background-color: aliceblue;
    border-radius: var(--border-radius-s);
}


/* SIDEBAR */

.wide-sidebar{
    background-color: var(--secondary-bg);
    position: fixed;
    float: left;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: var(--sidebar-width);
    transform: translateY(-1ch);
    border-top-right-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
    box-shadow: var(--shadows-shortest);

}
.sidebar > h1{
    color: var(--font-color-dark-default);
}
.sidebar-list{
    background-color: var(--secondary-bg-dark);
    border-radius: var(--border-radius-s);
    padding: 2px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    width: 100%;
    background-color: var(--secondary-bg);
    color: black;
    border: 2px solid gray;
    border-radius: var(--border-radius-s);
    text-align: left;
} 

.sidebar > h1 {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    align-items: center;
}

.sidebar > h1 > a > img{
    width: 2ch;
    border-radius: var(--border-radius-s);
    border: var(--border-style-2);
    padding: 5px;
    background-color: var(--bg);
    box-shadow: var(--shadows-shortest);
}

.sidebar-list img{
    width: 4ch;
    border-radius: var(--border-radius-s);
}
.sidebar-list *{
    color: black;
}

.sidebar-list > li > a {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1ch;
}

main{
    overflow: auto;
    margin: 1ch 2ch 0 calc(var(--sidebar-width) + 2ch);

}





/* 
#####################################################
############  PERSONAL DASHBOARD TAB ################
#####################################################
*/





/*
#####################################################
#############  LEAVE APPLICATION TAB ################
#####################################################
*/


/* 
#####################################################
#############  REPORT MANAGEMENT TAB ################
#####################################################
*/

.application-list .table{
    margin: 2ch 0;
    border-collapse: separate;
    background-color: var(--secondary-bg);
    border: var(--border-style-1);
    padding: 2ch;
    border-radius: var(--border-radius-s);
}

.leave-application-modal > * > *{
    color: black;
    background-color: var(--secondary-bg-light);
}



/* 
#####################################################
#############  QUSETIONNAIRE MANAGEMENT TAB ################
#####################################################
*/

/* .add-questionnaire-modal{
    width: 50vw;
} */

#new-questionnaire-form{
    display: flex;
    flex-direction: column;
    gap: 1ch;
}