#reportManager {
  margin: 5% 15%;
  background: rgb(234, 245, 228);
  border-radius: 7px;
}
#notif-dropdown-menu {
  width: fit-content;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}
#menu-dropdown-menu {
  width: fit-content;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
}

#chatwindow {
  /* max-height: 900px; */
  margin: 2ch 10%;
  background-color: var(--secondary-bg);
  padding: 0;
  border: var(--border-style-2);
  border-radius: var(--border-radius-s);
}
.chat-sidebar{
  /* border-radius: var(--border-radius-s); */
  /* border: var(--border-style-2); */
  height: 83vh;
  padding: 2ch;
  overflow-y: scroll;
}

.chat-panel{
  border-radius: var(--border-radius-s);
  height: 65vh;
  padding: 2ch;
  overflow-y: scroll;
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}
.settings-tray .no-gutters {
  padding: 0;
}
.settings-tray--right {
  float: right;
}
.settings-tray--right i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: auto;
  margin-right: 0;
  transition: 0.3s;
}
.settings-tray--right i:hover {
  color: #74b9ff;
  cursor: pointer;
}
.search-box {
  background: #c4e4e6;
  padding: 10px 13px;
}
.search-box .input-wrapper {
  background: #fff;
  border-radius: 40px;
}
.search-box .input-wrapper i {
  color: grey;
  margin-left: 7px;
  vertical-align: middle;
}
input {
  border: none;
  border-radius: 30px;
  width: 80%;
}
input::placeholder {
  /* color: #e3e3e3; */
  font-weight: 300;
  margin-left: 20px;
}
input:focus {
  outline: none;
}
.friend-drawer {
    border: 2px solid rgb(240, 229, 229);
    border-radius: 25px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    background: #fff;
    transition: 0.3s ease;
}
.friend-drawer--grey {
  background: #eee;
}
.friend-drawer .text {
  margin-left: 12px;
  width: 70%;
}
.friend-drawer .text h6 {
  margin-top: 6px;
  margin-bottom: 0;
}
.friend-drawer .text p {
  margin: 0;
}
.friend-drawer .time {
  color: grey;
}
.friend-drawer--onhover:hover {
  background: #74b9ff;
  cursor: pointer;
}
.friend-drawer--onhover:hover p, .friend-drawer--onhover:hover h6, .friend-drawer--onhover:hover .time {
  color: #fff !important;
}
/* hr {
  margin: 5px auto;
  width: 60%;
} */
.chat-bubble {
  padding: 10px 14px;
  background: rgb(202, 200, 200);
  margin: 10px 30px;
  border-radius: 9px;
  position: relative;
  animation: fadeIn 1s ease-in;
}
.chat-bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 0;
  margin-top: -10px;
}
.chat-bubble--left:after {
  left: 0;
  border-right-color: rgb(202, 200, 200);
  border-left: 0;
  margin-left: -20px;
}
.chat-bubble--right:after {
  right: 0;
  border-left-color: #2793ff;
  border-right: 0;
  margin-right: -20px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.offset-md-4 .chat-bubble, .offset-lg-6 .chat-bubble {
  background: #2793ff;
  color: #fff;
}
.chat-box-tray {
  background: #c5d7d2;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
.chat-box-tray input {
  margin: 0 10px;
  padding: 6px 2px;
}
.chat-box-tray i {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}
.chat-box-tray i:last-of-type {
  margin-left: 25px;
}

.right-button-panel{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2ch;
}

.right-button-panel button{
  border-radius: var(--border-circle);
  display: flex;
  align-items: center;
  padding: 4px;
}




/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 12px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 30px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }