:root{
    --bg: hsla(181, 71%, 72%, 0.875);
    --bg-darker: hsla(185, 22%, 29%, 0.69);
    --bg-lighter: hsl(185, 100%, 86%);
    
    --secondary-bg: hsla(116, 89%, 93%, 0.78);
    --secondary-bg-dark: hsla(113, 45%, 80%, 0.898);
    --secondary-bg-light: hsla(113, 36%, 75%, 0.703);
	
    --font-color-default: rgb(230, 255, 240);
    --font-color-dark-default: hsl(180, 17%, 12%);

    --footer-text: rgb(212, 204, 204);
    --footer-bg: #212529;
    
	--btn-primary: hsla(196, 89%, 36%, 0.988);
    --btn-primary-hover: hsla(196, 79%, 43%, 0.988);
    
    --border-radius-s: 10px;
    --border-radius-l: 25px;
    --border-circle: 50%;
    --border-style-1: 2px rgba(128, 128, 128, 0.621) solid;

    --price:green;
    --options:rgba(157, 245, 201, 0.484);
    --submit-btn: rgba(103, 222, 206, 0.911);
	--shadows: 20px 20px 30px #333;
    --shadows-shorter: 7px 7px 10px;
    --card-alpha : 0.75;
    --shadows-inner-s: 1px 1px 3px inset var(--bg-darker), -1px -1px 3px inset var(--bg-darker);
	--shadows-inner-l: 1px 1px 10px inset var(--bg-darker), -1px -1px 10px inset var(--bg-darker);
}


.btn-primary{
    background-color: var(--btn-primary);
}
.btn-primary:hover{
    background-color: var(--btn-primary-hover);
}
body {
    background-color: var(--bg);
}

.icon {
    height: auto;
    opacity: 0.7;
    transition: 0.2s ease-out;
}
.icon:hover {
    transform: scale(1.2);
    opacity: 1;
}
.icon-sm {
    width: 16px;
}
.icon-md {
    width: 32px;
}
.icon-lg {
    width: 72px;
}
